* {
  font-family: "Poppins", sans-serif;
  /* border: 0; */
  margin: 0;
}
/* nav & header style */

.container {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 102px;
}

.nav-title {
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}

nav ul > li {
  display: inline;
  margin-left: 50px;
}

.section-heading {
  text-align: center;
  padding: 50px 230px;
}

.brand-title {
  font-size: 64px;
  font-weight: 700px;
  color: #131313;
  margin-bottom: 10px;
}

.brand-description {
  font-size: 16px;
  font-weight: 400px;
  /* width: 850px; */
  justify-content: center;
  color: #727272;
}

.main-btn {
  width: 180px;
  height: 64px;
  margin-top: 32px;
  border: 0;
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
}

.banner-image {
  margin-top: 50px;
  text-align: center;
  padding: 50px;
}

/* feature */

.our-feature {
  margin-top: 85px;
}

.feature {
  display: flex;
  width: 1440px;
  align-items: center;
  margin: 0 auto;
  row-gap: 10px;
}

.feature-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}

.feature-items {
  margin-left: 70px;
  margin-bottom: 24px;
}

#feature-title1 {
  font-size: 45px;
  font-weight: 700;
  color: #727272;
}

#feature-title2 {
  font-size: 45px;
  font-weight: 700;
}

#feature-title3 {
  font-size: 45px;
  font-weight: 700;
  color: #ff900e;
  margin-bottom: 24px;
}

.feature-description {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

/* feature part end */

/* experience part  */

.experience {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 130px;
}

.experience-lists {
  display: grid;
  grid-column: repeat(1, 1fr);
  margin-right: 54px;
}

.experience-title {
  border-left: 5px solid #ff900e;
  padding: 15px;
}

.expericen-list {
  margin-top: 20px;
  padding: 20px 20px 1px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.experience-main-heading {
}

.list-title {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
}

.list-description {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.experience-banner {
  width: 700px;
  height: 982px;
}

/* experience-style end */

/* some facts style start */

.some-facts {
  width: 1440px;
  margin: 0 auto;
}

.fact-title {
  margin-top: 130px;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

.fact-description {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.fact-items {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 124px;
}

.fact-item {
  border: 1px solid #ff900e;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.fact-item h1 {
  font-size: 45px;
  font-weight: 600;
}

.fact-item p {
  font-size: 20px;
  font-weight: 600;
  color: #727272;
}

.our-sponspors {
  margin-top: 130px;
  text-align: center;
}

.sponspors {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.footer {
  text-align: center;
  width: 1440px;
  margin: 0 auto;
}

.footer-description {
  background-color: #fff4e7;
  padding: 40px 100px;
  align-items: center;
  margin-top: 130px;
  color: #424242;
  border-radius: 5px;
}
